fastapi==0.115.6
uvicorn[standard]==0.32.1
python-multipart==0.0.12
pydantic==2.10.3
pydantic-settings==2.6.1

celery==5.4.0
redis==5.2.0

numpy==1.26.4
scipy==1.14.1
soundfile==0.12.1
librosa==0.10.2.post1
madmom==0.16.1
omnizart==0.4.6

music21==9.3.0
basic-pitch==0.4.0
